# This is a basic workflow to help you get started with Actions
name: 'MShire Testing Example'

# Controls when the action will run. Triggers the workflow on push or pull request
# events on the main branch only.
on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Force a snippets build'

env:
  DOTNET_INSTALLER_CHANNEL: '7.0'
  DOTNET_DO_INSTALL: 'true' # True to install preview versions, False to use the pre-installed (released) SDK
  EnableNuGetPackageRestore: 'True'
  repo: 'samples'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '4.8.x'
    - name: Build
      run: dotnet build
